<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeiliCompanion.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5A74E3B4F18391BF1D0B6B6945DE0ECEC536BB77</string>
				<key>dateExpires</key>
				<string>2027/7/8</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3JJ9M9T6W3.com.aibeautyfulwomen.gongpai.ios</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3JJ9M9T6W3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3JJ9M9T6W3.com.aibeautyfulwomen.gongpai.ios</string>
				</array>
			</dict>
			<key>name</key>
			<string>MeiliCompanion.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>850ce68a-050b-453f-9131-1602065d2e1d</string>
				<key>dateExpires</key>
				<string>2027/7/8</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.aibeautyfulwomen.gongpai.ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3JJ9M9T6W3</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
